<mat-toolbar fxLayout>
  <div fxFlex fxLayoutAlign="start center">
    <img src="../assets/img/numtra-nav-logo.png" />

    <ul class="top-nav">
      <li routerLinkActive="active"><a [routerLink]="['/BFAI/dashboard']">Dashboard</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/BFAI/data-source']">Data Source</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/BFAI/model-Result']">Data Source Results</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/BFAI/model-dashboard']">Model Dashboard</a></li>
    </ul>
  </div>

  <div fxFlex fxLayoutAlign="end center">
    <button class="welcome" mat-button [matMenuTriggerFor]="menu">
        <i class="material-icons user-icon">
            account_circle
          </i>
      Welcome Numtra
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <i class="material-icons">group</i>
        Users
      </button>
      <button mat-menu-item [routerLink]="['/login']">
        <i class="material-icons">exit_to_app</i>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
