
<div style="position:fixed; z-index: 999; right: 80px; top:200px; width:250;height:500px; overflow: auto;">
  <h3>DBFS Sink</h3>
  <form #dbfsSinkForm="ngForm">


    <mat-form-field>
      <!-- <label>URL</label> -->
      <input matInput type="text"name="url" placeholder="URL" #url="ngModel" [(ngModel)]='stage.stage_attributes.url' required>
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput type="password" name="dbfstoken" placeholder="DBFS Token" #dbfs_token="ngModel" [(ngModel)]='stage.stage_attributes.dbfs_token' required>
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput type="text" name="dbfsdomain" placeholder="DBFS Domain" #dbfs_domain="ngModel" [(ngModel)]='stage.stage_attributes.dbfs_domain' required>
    </mat-form-field>
    <br />

    <mat-form-field>
      <!-- <label>File Type</label> -->
      <mat-select name="fileType" placeholder="File Type" [(ngModel)]='stage.stage_attributes.file_type'  required>
        <mat-option value="">Select File Type </mat-option>
        <mat-option value="Delimeted">Delimeted</mat-option>
        <mat-option value="xml">XML</mat-option>
        <mat-option value="json">JSON</mat-option>
        <mat-option value="parquet">Parquet</mat-option>
        <mat-option value="geojson">Geojson</mat-option>
        <mat-option value="shapefile">Shapefile</mat-option>
        <mat-option value="rlg/dlg">RLG/DLG</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
        <!-- <label>File Type</label> -->
        <mat-select name="fileDelimeter" placeholder="Source Delimeter" [(ngModel)]='stage.stage_attributes.source_delimeter' required>
          <mat-option value="">Select Source Delimeter </mat-option>
          <mat-option value="comma ,">comma ,</mat-option>
          <mat-option value='tab \t'>tab \t</mat-option>
          <mat-option value='forward slash /'>forward slash /</mat-option>
          <mat-option value='semi-colon ;'>semi-colon ;</mat-option>
          <mat-option value='percentage %'>comma ,</mat-option>
          <mat-option value='minus -'>minus -</mat-option>
          <mat-option value='back slash \'>back slash \</mat-option>
          <mat-option value='colon :'>colon :</mat-option>
          <mat-option value='space '>space </mat-option>
          <mat-option value='dollar $'>dollar $</mat-option>
          <mat-option value='dot .'>dot .</mat-option>
          <mat-option value='at the rate @'>at the rate @</mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
    <!-- <div>
      <button mat-stroked-button color="accent" (click)="discoverData()">Discover Data</button>
    </div> -->
    <br />
    <div>
      <button mat-stroked-button color="accent" (click)="saveSinkDbfs(dbfsSinkForm)" type="submit">Save</button>
    </div>

  </form>
</div>
