<div class="h100" fxLayout="row">

  <mat-card fxFlex="100%;">

      <div class="list">
          <!-- <div class="tile mat-elevation-z4">
            <div class="compas-home-text">
              <img src="assets/img/call-center-optimization.svg" />
              <label>Elastic & Kibana</label>
              </div>
          </div> -->

          <!-- <div class="tile mat-elevation-z4">
            <div class="compas-home-text">
                <img src="assets/img/compliance-test-automation.svg" />
                <label>Vision</label>
            </div>
          </div> -->

          <div class="tile mat-elevation-z4">
            <div class="compas-home-text" [routerLink]="['/platform']">
                <img src="assets/img/default-risk-prediction.svg" />
                <label>Bigdata Platform</label>
            </div>
          </div>

          <div class="tile mat-elevation-z4" [routerLink]="['/BFAI']">

            <div class="compas-home-text">
                <img src="assets/img/preventive-maintenance.svg" />
                <label>Bussiness First AI</label>
              </div>
          </div>

        </div>
      </mat-card>
</div>
