<form (submit)="addQuery(queryForm)" #queryForm="ngForm">
  <h3 mat-dialog-title>Query Editor</h3>
  <div mat-dialog-content>
    <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <ace matInput name="querytext" [(value)]="querytext" [(ngModel)]="querytext" required fxFlex="auto"
      ngDefaultControl  [config]="config" ></ace>

      <!-- <ace matInput name=querytext [(ngModel)]="querytext" required fxFlex="auto" [config]="config" [disabled]="disabled"
               [(value)]="querytext">
              </ace> -->
    </div>
  </div>
  <div class="modal-actions">
      <button mat-raised-button type="submit" color="primary" >Add Query</button>
    <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
  </div>
</form>
