<div class="canvas-right-col-broad">
  <h3>Filter Transformation</h3>

  <form #filterForm="ngForm" (submit)="saveFilter(filterForm)" fxLayout="column">

    <div>
      <div>
        <div>
            <button type='button' *ngIf="stage.stage_attributes.use_expression" (click)="addFilter('exp')">+ Add Exp</button>
            <mat-checkbox color="primary" [(ngModel)]="stage.stage_attributes.use_expression" name='stage.stage_attributes.use_expression' (change)="addRemoveExp(stage.stage_attributes.use_expression)">Expression</mat-checkbox>
        </div>

        <div *ngIf="stage.stage_attributes.use_expression">
          <div *ngFor="let item of stage.stage_attributes.expression; let idx = index">
            <mat-form-field *ngIf="idx > 0">
              <mat-label>Select Logical Operator</mat-label>
              <mat-select name="combinator{{idx}}" [(ngModel)]='item.combinator' required>
                <mat-option *ngFor='let lop of logicalOpArray' [value]='lop'>{{ lop }} </mat-option>
              </mat-select>
            </mat-form-field>

            <div >
              <mat-form-field>
                <mat-label>Select Filed</mat-label>
                <mat-select name="field1{{idx}}" [(ngModel)]='item.column1_name' required>
                  <!-- <mat-option *ngFor='let sSchema of stageSchema' (click)='setDataType(sSchema, idx, "exp")' [value]='sSchema.field'> -->
                  <mat-option *ngFor='let sSchema of stageSchema' [value]='sSchema.field'>
                    {{ sSchema.field }} </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Select Operator</mat-label>
                <mat-select name="operator2{{idx}}" [(ngModel)]='item.operator' (selectionChange)="showOptions(item.operator, idx, $event)" required>
                  <mat-option value="=" >= </mat-option>
                  <mat-option value="!=" >!=</mat-option>
                  <mat-option value=">=" >>=</mat-option>
                  <mat-option value='<=' ><=</mat-option>
                  <mat-option value=">" >></mat-option>
                  <mat-option value="<" ><</mat-option>
                  <mat-option value="IS NULL" >NULL</mat-option>
                  <mat-option value="IS NOT NULL" >NOT NULL</mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="item.showOptions" >
                <!-- <mat-form-field >
                  <mat-label>Select Type</mat-label>
                  <mat-select name="type{{idx}}" [(ngModel)]="item.with_compare_type" (selectionChange)='setTypeOf(item, idx)' required>
                    <mat-option *ngFor="let type of Types" [value]="type">{{ type }} </mat-option>
                  </mat-select>
                </mat-form-field> -->

                <mat-radio-group fxLayout="column" name="custom{{idx}}"
                [(ngModel)]="item.custom">
                <mat-radio-button [value]="true">Custom</mat-radio-button>
                <mat-radio-button [value]="false">Stream</mat-radio-button>
              </mat-radio-group>

              </div>



              <div *ngIf="item.showOptions && !item.custom" >
                <mat-form-field>
                  <mat-label>Select Field</mat-label>
                  <mat-select name="column2{{idx}}" [(ngModel)]='item.column2_name' required>
                    <mat-option *ngFor='let sSchema of stageSchema' [value]='sSchema.field'>
                      {{ sSchema.field }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="item.showOptions && item.custom" >
                <mat-form-field >
                  <input matInput type="text" name="custom_value{{idx}}" [(ngModel)]='item.custom_value'
                    placeholder="Value.." #Value="ngModel" required>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Select Value Type</mat-label>
                    <mat-select name="value_type{{idx}}" [(ngModel)]='item.value_type'  required>
                      <mat-option value="string" >String </mat-option>
                      <mat-option value="numeric" >Numeric</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>


              <div class="column-2" *ngIf="idx > 0">
                <button type='button'  (click)="removeFilter(idx,'exp')" style="font-size: 20px; color: #3cbfe8; cursor:pointer;">- Remove</button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="form-group">
        <div class="add-button-row">
          <button type='button' *ngIf="stage.stage_attributes.use_regex" (click)="addFilter('regex')">+ Add Regex</button>
          <mat-checkbox color="primary" [(ngModel)]="stage.stage_attributes.use_regex" name='stage.stage_attributes.use_regex' (change)="addRemoveRegex(stage.stage_attributes.use_regex)">Regex</mat-checkbox>
        </div>

        <div *ngIf="stage.stage_attributes.use_regex">
          <div *ngFor='let item of stage.stage_attributes.regex; let idx = index'>
            <div *ngIf="idx > 0">
                <mat-form-field>
                <mat-label>Select Logical Operator</mat-label>
              <mat-select name="operator1{{idx}}" [(ngModel)]='item.logical_operator' required>
                <mat-option *ngFor='let lop of logicalOpArray' [value]='lop'>
                  {{ lop }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="filter-regex-columns field-box">
              <div class="column-1" >
                  <mat-form-field>
                    <mat-label>Select Filed</mat-label>
                    <mat-select name="field{{idx}}" [(ngModel)]='item.to_compare_field_name' required>
                      <mat-option *ngFor='let sSchema of stageSchema' [value]='sSchema.field'>
                        {{ sSchema.field }} </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div class="column-1" ng-class="{'has-error':filterForm.regex_operator.$error.required && filterForm.regex_operator.$dirty}">
                  <mat-form-field>
                    <mat-label>Select Operator</mat-label>
                    <mat-select name="regex_operator{{idx}}" [(ngModel)]='item.operator' required>
                      <mat-option *ngFor='let ropr of regex_operators' [value]='ropr'>
                        {{ ropr }} </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div >
                <mat-form-field >
                  <input matInput type="text" name="regex{{idx}}" [(ngModel)]='item.regex' placeholder="Regex" required>
                </mat-form-field>
              </div>

              <div class="column-2" *ngIf="idx >0" >
                  <button type='button' (click)="removeFilter(idx,'regex')" style="font-size: 20px; color: #3cbfe8; cursor:pointer;">Remove regex</button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <span *ngIf="!stage.stage_attributes.use_time_window && !stage.stage_attributes.use_expression && !stage.stage_attributes.use_regex" style="color:red">Please check at least one option</span>
      <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="end center">
        <button mat-stroked-button color="accent" type="submit">Save</button>
        <!-- <button mat-stroked-button color="accent" (click)="cancel()" type="submit">Cancel</button> -->
      </div>


  </div>
</form>
</div>
