<div class="canvas-right-col">
  <h3>Select Profile</h3>

  <form #bottomForm="ngForm" fxLayout="column">

    <mat-radio-group class="execution-option" fxLayout fxLayoutGap="20px" name="execution" [(ngModel)]="execution">
      <mat-radio-button [value]="true">Existing</mat-radio-button>
      <mat-radio-button [value]="false">New</mat-radio-button>
    </mat-radio-group>


    <div *ngIf="execution">
      <mat-form-field>
        <mat-select placeholder="Select me" name=selected_profile (ngModelChange)="fetchClusters($event)" [(ngModel)]="selected_profile" required>
          <mat-option *ngFor="let profile of credentialProfiles" [value]="profile">{{profile.name}}</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>
    </div>

  </form>

  <form #profileForm="ngForm" fxLayout="column">
    <div *ngIf="!execution">
      <mat-form-field>
        <label class="error-message">{{error}}</label>
        <input matInput type="text" name="name" placeholder="Profile Name" #url="ngModel" [(ngModel)]='profile.name'
          required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" name="domain" placeholder="Domain" #url="ngModel" [(ngModel)]='profile.domain'
          required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" name="token" placeholder="Token" #dbfs_token="ngModel"
          [(ngModel)]='profile.token' required>
      </mat-form-field>
    </div>

    <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="end center">
      <button mat-stroked-button color="accent" (click)="saveProfile(profileForm)" type="submit">Save</button>
    </div>
  </form>

</div>