<div class="canvas-right-col">
  <h3>Execution</h3>

  <form #bottomForm="ngForm" fxLayout="column">

    <mat-tab-group [selectedIndex]="selectedIndex" class="custom-tabs-content">
      <mat-tab>

        <div class="select-block" fxLayout fxLayoutAlign="space-between center">
          <h4>Profiles</h4>

          <mat-icon color="primary" [ngClass]="{'profile-close-icon' : addProfileForm}"
            (click)="addProfileForm = !addProfileForm" matTooltip="Add profiles">
            add_circle_outline
          </mat-icon>
        </div>

        <mat-accordion class="add-profile-expansion-panel">
          <mat-expansion-panel [expanded]="addProfileForm" hideToggle>

            <form #profileForm="ngForm" fxLayout="column">

              <mat-form-field>
                <label class="error-message">{{error}}</label>
                <input matInput type="text" name="name" placeholder="Profile Name" #name="ngModel"
                  [(ngModel)]='profile.name' required>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="text" name="domain" placeholder="Domain" #domain="ngModel"
                  [(ngModel)]='profile.domain' required>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="password" name="token" placeholder="Token" #token="ngModel"
                  [(ngModel)]='profile.token' required>
              </mat-form-field>

              <div fxLayout fxLayoutAlign="end center">
                <button mat-stroked-button color="accent" (click)="saveProfile(profileForm)" type="submit">Add</button>
              </div>

            </form>

          </mat-expansion-panel>
        </mat-accordion>

        <div class="profile-row" fxLayout fxLayoutAlign=" center" *ngFor="let profile of credentialProfiles">
          <!-- <mat-radio-group name="selected_profile" fxFlex="none" (ngModelChange)="fetchClusters($event)" [(ngModel)]="selected_profile"> -->
          <mat-radio-group name="selected_profile" fxFlex="none" [(ngModel)]="selected_profile">
            <mat-radio-button [value]="profile"></mat-radio-button>
          </mat-radio-group>
          <span class="profile-label" fxFlex>{{profile.name}}</span>
          <span fxFlex="nogrow">
            <i class="material-icons">edit</i>
            <i class="material-icons">delete_outline</i>
          </span>
        </div>

        <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="end center">
          <button mat-stroked-button color="accent" (click)="selectedIndex = 1">Next</button>
        </div>

      </mat-tab>

      <mat-tab>

          <form #clusterForm="ngForm" fxLayout="column">

              <mat-radio-group class="credential-option" fxLayout fxLayoutGap="20px" name="credentialGate" [(ngModel)]="credentialGate">
                <mat-radio-button [value]="true">Existing Cluster</mat-radio-button>
                <mat-radio-button [value]="false">New Cluster</mat-radio-button>
              </mat-radio-group>
          
          
              <div *ngIf="credentialGate">
                <mat-form-field>
                  <mat-select placeholder="Select me" name=selected_cluster [(ngModel)]="selected_cluster" required>
                    <mat-option *ngFor="let cluster of clusters" [value]="cluster">{{cluster.cluster_name}}</mat-option>
                  </mat-select>
                  <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                </mat-form-field>
          
                <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="end center">
                  <button mat-stroked-button color="accent" (click)="execute(selected_cluster)" type="submit">Execute</button>
                </div>
              </div>
          
            </form>
          
            <form #saveClusterForm="ngForm" fxLayout="column" *ngIf="!credentialGate">
              <div >
                <mat-form-field>
                  <label class="error-message">{{error}}</label>
                  <input matInput type="text" name="name" placeholder="Cluster Name" #name="ngModel" [(ngModel)]='cluster_data.cluster_name'
                    required>
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput type="text" name="spark_version" placeholder="Spark Version" #spark_version="ngModel" [(ngModel)]='cluster_data.spark_version'
                    required>
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput type="text" name="autotermination_minutes" placeholder="Autotermination Minutes" #autotermination_minutes="ngModel"
                    [(ngModel)]='cluster_data.autotermination_minutes' required>
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput type="text" name="node_type_id" placeholder="Node Type ID" #node_type_id="ngModel" 
                  [(ngModel)]='cluster_data.node_type_id'
                    required>
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput type="text" name="min_workers" placeholder="Min Workers" #min_workers="ngModel" 
                  [(ngModel)]='cluster_data.autoscale.min_workers'
                    required>
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput type="text" name="max_workers" placeholder="Max Workers" #max_workers="ngModel" 
                  [(ngModel)]='cluster_data.autoscale.max_workers'
                    required>
                </mat-form-field>
          
                <mat-form-field>
                  <input matInput type="text" name="spark_env_vars" placeholder="Spark Environment Variable" #spark_env_vars="ngModel" 
                  [(ngModel)]='cluster_data.spark_env_vars.PYSPARK_PYTHON'
                    required>
                </mat-form-field>
              </div>
          
              <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="end center">
                <button mat-stroked-button color="accent" (click)="saveAndExecute(saveClusterForm)" type="submit">Save & Execute</button>
              </div>
            </form>

      </mat-tab>
    </mat-tab-group>

  </form>
</div>