h4 {
  font-weight: normal;
}

mat-icon {
  cursor: pointer;
  transform: rotate(0deg);
  transition-duration: 0.25s;
  transition-property: transform;
}

.profile-close-icon {
  transform: rotate(45deg);
}

.select-block {
  margin: 0.5rem 0;
  overflow: hidden;
}

.profile-row {
  border-bottom: solid 1px #eee;
  padding: 10px;
}

.profile-row i {
  font-size: 18px;
  color: #3272a0;
  cursor: pointer;
  padding: 3px;
}

.credential-option {
  padding: 10px;
}

.credential-option .mat-radio-button {
  margin: 8px 0 8px 0;
}

.error-message {
  margin: 1rem 0 1.35rem;
}