<div class="canvas-right-col">
  <h3>Bottom Transformation</h3>

  <form #bottomForm="ngForm" fxLayout="column">

    <mat-form-field>
        <mat-label>Select Column</mat-label>
      <mat-select name="field" [(ngModel)]='stage.stage_attributes.attributes.field' required>
        <mat-option *ngFor='let sSchema of stageSchema' (click)='selectFieldType(sSchema)' [value]='sSchema.field'>
          {{ sSchema.field }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group class="parameter-option" fxLayout="column" name="parameter"
      [(ngModel)]="stage.stage_attributes.parameter">
      <mat-radio-button [value]="false">Custom</mat-radio-button>
      <mat-radio-button [value]="true">Parameter</mat-radio-button>
    </mat-radio-group>



    <div class="error-message" *ngIf="stage.stage_attributes.parameter ">
      <!-- <select ng-if="!angular.isUndefined(processParameters)" class="form-control" ngmodel="stage.stage_attributes.attributes.topResults" required>
          <option value="">Select parameter</option>
          <option ng-selected="stage.stage_attributes.attributes.topResults == key" ng-repeat="(key,data) in processParameters.parameters" value="{{key}}">{{key}}</option>
      </select> -->
      Please register parameters for this pipeline
    </div>

    <mat-form-field *ngIf="!stage.stage_attributes.parameter">
      <input matInput type="number" name="results" [(ngModel)]='stage.stage_attributes.attributes.topResults'
        placeholder="Value" #results="ngModel" required>
    </mat-form-field>

    <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="end center">
      <button mat-stroked-button color="accent" (click)="saveBottom(bottomForm)" type="submit">Save</button>
    </div>

  </form>
</div>
