<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<main>

  <div fxLayout fxLayoutGap="40px">

    <div id="projects" fxFlex [ngClass]="{'show-application' : showApplication == true}">
      <div fxLayout fxLayoutAlign="space-between center">
        <h2>Projects</h2>

        <div class="project-search-block">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="projectSearchQuery" placeholder="Filter Project" />
            <mat-icon matSuffix color="primary">search</mat-icon>
          </mat-form-field>

        </div>
      </div>

      <mat-grid-list class="projects" gutterSize="15px" [cols]="breakpoint" rowHeight="2:1.2" (window:resize)="onResize($event)">

        <mat-grid-tile class="add-new-project" matTooltip="Add new project" matTooltipPosition="above">
          <div>
            <mat-icon color="primary">add_circle</mat-icon>
          </div>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let project of projects | projectFilter:projectSearchQuery"
      (click)="selectApplication($event, project.name)"
      >

          <div class="project-action">
            <button mat-fab color="primary" matTooltip="edit" matTooltipPosition="right">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab color="warn" matTooltip="delete" matTooltipPosition="right">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div>
            <!-- <img src="assets/img/{{project.img}}" alt="{{project.name}}" /> -->
            <i class="project-icon material-icons">
                ac_unit
                </i>
            <div class="project-name">
              {{project.name}}
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>


    <div id="applications" fxFlex
    *ngIf="showApplication == true"
    [ngClass]="{'show-application' : showApplication == true}"
    >
      <div fxLayout fxLayoutAlign="space-between center">
        <h2>Applications ({{projectName}})</h2>

        <div class="application-search-block">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="applicationSearchQuery" placeholder="Filter Application" />
            <mat-icon matSuffix color="accent">search</mat-icon>
          </mat-form-field>

        </div>
      </div>

      <mat-grid-list class="applications" gutterSize="15px" [cols]="breakpoint" rowHeight="2:1.2" (window:resize)="onResize($event)">

        <mat-grid-tile class="add-new-application" matTooltip="Add new application" matTooltipPosition="above">
          <div>
            <mat-icon color="accent">add_circle</mat-icon>
          </div>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let application of applications
      | applicationFilter:applicationSearchQuery"
          [routerLink]="['/canvas']">

          <div class="project-action">
            <button mat-fab color="accent" matTooltip="edit" matTooltipPosition="right">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab color="warn" matTooltip="delete" matTooltipPosition="right">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div>
            <img src="assets/img/{{application.img}}" alt="{{application.name}}" />
            <div class="application-name">
              {{application.name}}
            </div>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </div>

  </div>

</main>
