<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<main>

  <div fxLayout fxLayoutGap="40px">

    <div id="projects" fxFlex [ngClass]="{'show-application' : showApplication == true}">
      <div fxLayout fxLayoutAlign="space-between center">
        <h2>Projects</h2>

        <div class="project-search-block">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="projectSearchQuery" placeholder="Filter Project" />
            <mat-icon matSuffix color="primary">search</mat-icon>
          </mat-form-field>

        </div>
      </div>

      <div class="directory-path-block">

      </div>

      <mat-grid-list class="projects" gutterSize="15px" [cols]="breakpoint" rowHeight="2:1.2"
        (window:resize)="onResize($event)">

        <mat-grid-tile class="add-new-project" matTooltip="Add new project" matTooltipPosition="above">
          <div (click)='openDialog("add","")'>
            <mat-icon color="primary">add_circle</mat-icon>
          </div>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let project of projects | projectFilter:projectSearchQuery"
          (click)="selectApplication($event, project , 'project')">

          <div class="project-action">
            <button mat-fab (click)='openDialog("edit",project)' color="primary" matTooltip="edit"
              matTooltipPosition="right">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-fab color="warn" (click)='openDialog("delete",project)' matTooltip="delete"
              matTooltipPosition="right">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <div>
            <!-- <img src="assets/img/{{project.img}}" alt="{{project.name}}" /> -->
            <i class="project-icon material-icons">
              ac_unit
            </i>
            <div class="project-name">
              {{project.name}}
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>


    <div id="applications" fxFlex *ngIf="showApplication == true"
      [ngClass]="{'show-application' : showApplication == true}">
      <div fxLayout fxLayoutAlign="space-between center">
        <h2>Applications ({{parentName}})</h2>

        <div class="application-search-block">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="applicationSearchQuery" placeholder="Filter Application" />
            <mat-icon matSuffix color="accent">search</mat-icon>
          </mat-form-field>

        </div>
      </div>

      <div class="directory-path-block">
        <div fxLayout fxLayoutGap="10px" *ngIf='hideback == 0'>
          <div class="directory-path-back-icon" fxFlex="nogrow" (click)='previous()' matTooltip="back">
            <i class="material-icons">
              chevron_left
            </i>
          </div>

          <div class="directory-path" fxFlex>
            <span *ngFor='let parent of parentStack'>
              /{{parent.parentName}}
            </span>
            <!-- /{{parentName}} -->
          </div>
        </div>
      </div>

      <mat-grid-list class="applications" gutterSize="15px" [cols]="breakpoint" rowHeight="2:1.2"
        (window:resize)="onResize($event)">

        <mat-grid-tile class="add-new-application" matTooltip="Add new application" matTooltipPosition="above">
          <div (click)='openAppDialog("add", parentId)'>
            <mat-icon color="accent">add_circle</mat-icon>
          </div>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let application of applications
      | applicationFilter:applicationSearchQuery">
          <div *ngIf='application.app_type==="pipeline"'>
            <div class="project-action">
              <button mat-fab color="accent" (click)='openAppDialog("edit",application)' matTooltip="edit"
                matTooltipPosition="right">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-fab color="warn" (click)='openAppDialog("delete",application)' matTooltip="delete"
                matTooltipPosition="right">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <div [routerLink]="['/platform','canvas',application._id]">
              <img src="assets/img/application.svg" alt="{{application.name}}" />
              <div class="application-name">
                {{application.name}}
              </div>
            </div>
          </div>

          <div *ngIf='application.app_type==="folder"'>
            <div class="project-action">
              <button mat-fab color="accent" (click)='openAppDialog("edit",application)' matTooltip="edit"
                matTooltipPosition="right">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-fab color="warn" matTooltip="delete" matTooltipPosition="right">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <div (click)="selectApplication($event, application, 'application')">
              <!-- <img src="assets/img/application.svg" alt="{{application.name}}" /> -->
              <img src="assets/img/folder.svg" alt="{{application.name}}" />
              <div class="application-name">
                {{application.name}}
              </div>
            </div>
          </div>

          <div *ngIf='application.app_type ==="file"'>
            <div class="project-action">
              <button (click)='readFile(application)' mat-fab color="accent" matTooltip="view"
                matTooltipPosition="right">
                <mat-icon>explore</mat-icon>
              </button>
              <button mat-fab color="warn" (click)='openAppDialog("delete",application)' matTooltip="delete"
                matTooltipPosition="right">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <div>
              <!-- <img src="assets/img/application.svg" alt="{{application.name}}" /> -->
              <img src="assets/img/file.svg" alt="{{application.name}}" />
              <div class="application-name">
                {{application.name}}
              </div>
            </div>
          </div>

        </mat-grid-tile>

      </mat-grid-list>
    </div>

  </div>

</main>
