<div class="canvas-right-col">
  <h3>DBFS Source</h3>

  <form #dbfsForm="ngForm" fxLayout="column">
    <mat-form-field>
      <label class="error-message">{{error}}</label>
      <input matInput type="text" name="url" placeholder="URL" #url="ngModel" [(ngModel)]='stage.stage_attributes.url'
        required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" name="dbfstoken" placeholder="DBFS Token" #dbfs_token="ngModel"
        [(ngModel)]='stage.stage_attributes.dbfs_token' required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="dbfsdomain" placeholder="DBFS Domain" #dbfs_domain="ngModel"
        [(ngModel)]='stage.stage_attributes.dbfs_domain' required>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="fileType" placeholder="File Type" [(ngModel)]='stage.stage_attributes.file_type' required>
        <mat-option value="">Select File Type </mat-option>
        <mat-option value="Delimeted">Delimeted</mat-option>
        <mat-option value="xml">XML</mat-option>
        <mat-option value="json">JSON</mat-option>
        <mat-option value="parquet">Parquet</mat-option>
        <mat-option value="geojson">Geojson</mat-option>
        <mat-option value="shapefile">Shapefile</mat-option>
        <mat-option value="rlg/dlg">RLG/DLG</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="fileDelimeter" placeholder="Source Delimeter"
        [(ngModel)]='stage.stage_attributes.source_delimeter' required>
        <mat-option value="">Select Source Delimeter </mat-option>
        <mat-option value='comma ,'>comma ,</mat-option>
        <mat-option value='tab \t'>tab \t</mat-option>
        <mat-option value='forward slash /'>forward slash /</mat-option>
        <mat-option value='semi-colon ;'>semi-colon ;</mat-option>
        <mat-option value='percentage %'>comma ,</mat-option>
        <mat-option value='minus -'>minus -</mat-option>
        <mat-option value='back slash \'>back slash \</mat-option>
        <mat-option value='colon :'>colon :</mat-option>
        <mat-option value='space '>space </mat-option>
        <mat-option value='dollar $'>dollar $</mat-option>
        <mat-option value='dot .'>dot .</mat-option>
        <mat-option value='at the rate @'>at the rate @</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="space-between center">
      <button mat-stroked-button color="primary" (click)="discoverData(dbfsForm)">Discover Data</button>
      <button mat-stroked-button color="accent" (click)="getSchemahenSave(dbfsForm)" type="submit">Save</button>
    </div>
  </form>
</div>
