<app-canvas [pipeline_id]="pipeline_id" (onSearch)="stageClicked($event)"></app-canvas>
<app-dbfs [stage_id]="showSourceId" *ngIf="showSource"></app-dbfs>
<app-max [stage_id]="showTopId" *ngIf="showTop"></app-max>
<app-dbfs-sink [stage_id]="showSinkId" *ngIf="showSink"></app-dbfs-sink>
<app-cosmosdb [stage_id]="showCosmosId" *ngIf="showCosmos"></app-cosmosdb>
<app-query [stage_id]="showQueryId" *ngIf="showQuery"></app-query>
<app-min [stage_id]="showBottomId" *ngIf="showBottom"></app-min>
<app-filter [stage_id]="showFilterId" *ngIf="showFilter"></app-filter>
<app-blob-storage [stage_id]="showBlobSourceId" *ngIf="showBlobSource"></app-blob-storage>
<app-blob-storage-sink [stage_id]="showBlobSinkId" *ngIf="showBlobSink"></app-blob-storage-sink>
<app-cosmosdb-sink [stage_id]="showCosmosSinkId" *ngIf="showCosmosSink"></app-cosmosdb-sink>
<app-pipeline-execution [pipeline_id]="executePipelineId" *ngIf="executePipeline"></app-pipeline-execution>