@font-face {
  font-family: 'font-icon';
  src:url('./font-icon.eot?nmx0sm');
  src:url('./font-icon.eot?#iefixnmx0sm') format('embedded-opentype'),
  url('./font-icon.woff?nmx0sm') format('woff'),
  url('./font-icon.ttf?nmx0sm') format('truetype'),
  url('./font-icon.svg?nmx0sm#platalyticsGlyphicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'font-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geometry:before {
  content: "\e98a";
}
.icon-news:before {
  content: "\e98b";
}
.icon-page:before {
  content: "\e98c";
}
.icon-snake-arrow:before {
  content: "\e98d";
}
.icon-rename:before {
  content: "\e900";
}
.icon-wrangler:before {
  content: "\e901";
}
.icon-amazonS3-iot:before {
  content: "\e94b";
}
.icon-amqp-iot:before {
  content: "\e940";
}
.icon-azure-iot:before {
  content: "\e941";
}
.icon-coap-iot:before {
  content: "\e948";
}
.icon-dds-iot:before {
  content: "\e949";
}
.icon-mqtt-iot:before {
  content: "\e94a";
}
.icon-xmpp-iot:before {
  content: "\e94c";
}
.icon-caution:before {
  content: "\e987";
}
.icon-mongo-db-sink:before {
  content: "\e985";
}
.icon-rssfeeds-source:before {
  content: "\e986";
}
.icon-ivrs-rules:before {
  content: "\e984";
}
.icon-iot-app-intel:before {
  content: "\e983";
  color: #0071c5;
}
.icon-map-marker-train:before {
  content: "\e981";
}
.icon-map-marker-train-station:before {
  content: "\e982";
}
.icon-iot-app-actuator:before {
  content: "\e980";
}
.icon-iot-app-raspberrypi:before {
  content: "\e97f";
}
.icon-ic:before {
  content: "\e97e";
}
.icon-iot-app-delete:before {
  content: "\e97d";
}
.icon-back:before {
  content: "\e97b";
}
.icon-next:before {
  content: "\e97c";
}
.icon-iot-sensors:before {
  content: "\e979";
}
.icon-iot-setting:before {
  content: "\e97a";
}
.icon-fire-sensor:before {
  content: "\e977";
}
.icon-gps-sensor:before {
  content: "\e978";
}
.icon-iot-app-controls:before {
  content: "\e96e";
}
.icon-iot-app-details:before {
  content: "\e96f";
}
.icon-iot-app-edit:before {
  content: "\e970";
}
.icon-iot-app-memory:before {
  content: "\e971";
}
.icon-iot-app-monitoring:before {
  content: "\e972";
}
.icon-iot-app-panel:before {
  content: "\e973";
}
.icon-iot-app-pc-circle:before {
  content: "\e974";
}
.icon-iot-app-processor:before {
  content: "\e975";
}
.icon-iot-app-storage:before {
  content: "\e976";
}
.icon-delete-circle:before {
  content: "\e969";
}
.icon-iot-app-arduino:before {
  content: "\e96a";
}
.icon-iot-app-deploy-circle:before {
  content: "\e96b";
}
.icon-iot-app-hub:before {
  content: "\e96c";
}
.icon-iot-app-pc:before {
  content: "\e96d";
}
.icon-ic_online_prediction:before {
  content: "\e964";
}
.icon-ic_original_transformed:before {
  content: "\e965";
}
.icon-ic_statics:before {
  content: "\e966";
}
.icon-metrics:before {
  content: "\e967";
}
.icon-upload:before {
  content: "\e968";
}
.icon-save:before {
  content: "\e963";
}
.icon-ibm-iot:before {
  content: "\e962";
}
.icon-iot-app-delet:before {
  content: "\e95b";
}
.icon-iot-app-deploy:before {
  content: "\e95c";
}
.icon-iot-app-devices:before {
  content: "\e95d";
}
.icon-iot-app-dropdown:before {
  content: "\e95e";
}
.icon-iot-app-magnifying-glass:before {
  content: "\e95f";
  color: rgba(0, 0, 0, 0.461229);
}
.icon-iot-app-search:before {
  content: "\e960";
}
.icon-iot-app-stats:before {
  content: "\e961";
}
.icon-custom-refresh-2:before {
  content: "\e95a";
}
.icon-clock:before {
  content: "\e957";
}
.icon-custom-error:before {
  content: "\e958";
}
.icon-tick-circle:before {
  content: "\e959";
}
.icon-lda:before {
  content: "\e956";
}
.icon-stomp-iot:before {
  content: "\e955";
}
.icon-frontend-deployment:before {
  content: "\e953";
}
.icon-aerospike-deployment:before {
  content: "\e950";
}
.icon-aerospike-master-deployment:before {
  content: "\e951";
}
.icon-aerospike-worker-deployment:before {
  content: "\e952";
}
.icon-mongo-db-deployment:before {
  content: "\e954";
}
.icon-custom-operation:before {
  content: "\e94e";
}
.icon-custom-query:before {
  content: "\e94f";
}
.icon-amqp-notification:before {
  content: "\e94d";
}
.icon-join-1:before {
  content: "\e93a";
}
.icon-join-2:before {
  content: "\e93b";
}
.icon-coap-notification:before {
  content: "\e942";
}
.icon-email-notification:before {
  content: "\e943";
}
.icon-message-notification:before {
  content: "\e944";
}
.icon-mqtt-notification:before {
  content: "\e945";
}
.icon-twitter-notification:before {
  content: "\e946";
}
.icon-url-notification:before {
  content: "\e947";
}
.icon-amazon-rds:before {
  content: "\e93f";
}
.icon-config-deployment:before {
  content: "\e93d";
}
.icon-restart:before {
  content: "\e93e";
}
.icon-cross:before {
  content: "\e93c";
}
.icon-plus:before {
  content: "\e939";
}
.icon-validation-deployment:before {
  content: "\e938";
}
.icon-shared-by-me:before {
  content: "\e935";
}
.icon-shared-with-me:before {
  content: "\e936";
}
.icon-deployment-clean:before {
  content: "\e937";
}
.icon-optimized-join:before {
  content: "\e934";
}
.icon-interceptor:before {
  content: "\e92f";
}
.icon-external-predictor:before {
  content: "\e930";
}
.icon-internal-predictor:before {
  content: "\e931";
}
.icon-ner:before {
  content: "\e932";
}
.icon-sentiment-predictor:before {
  content: "\e933";
}
.icon-gbd:before {
  content: "\e926";
}
.icon-k-mean:before {
  content: "\e927";
}
.icon-lasso:before {
  content: "\e928";
}
.icon-linear-regression:before {
  content: "\e929";
}
.icon-logistic-regression:before {
  content: "\e92a";
}
.icon-naive-bayes:before {
  content: "\e92b";
}
.icon-randomforest:before {
  content: "\e92c";
}
.icon-ridge:before {
  content: "\e92d";
}
.icon-svm:before {
  content: "\e92e";
}
.icon-mssql:before {
  content: "\e923";
}
.icon-mysql:before {
  content: "\e924";
}
.icon-oracle:before {
  content: "\e925";
}
.icon-log-file:before {
  content: "\e921";
}
.icon-deploy:before {
  content: "\e922";
}
.icon-kafka-deployment:before {
  content: "\e920";
}
.icon-cassandra-deployment:before {
  content: "\e903";
}
.icon-cassandra-master-deployment:before {
  content: "\e904";
}
.icon-cassandra-worker-deployment:before {
  content: "\e905";
}
.icon-drill-deployment:before {
  content: "\e906";
}
.icon-elastic-search-deployment:before {
  content: "\e907";
}
.icon-elastic-search-master-deployment:before {
  content: "\e908";
}
.icon-elastic-search-worker-deployment:before {
  content: "\e909";
}
.icon-hbase-deployment:before {
  content: "\e90a";
}
.icon-hbase-master-deployment:before {
  content: "\e90b";
}
.icon-hbase-worker-deployment:before {
  content: "\e90c";
}
.icon-hdfs-deployment:before {
  content: "\e90d";
}
.icon-hdfs-master-deployment:before {
  content: "\e90e";
}
.icon-hdfs-worker-deployment:before {
  content: "\e90f";
}
.icon-map-reduce-deployment:before {
  content: "\e910";
}
.icon-monitoring-deployment:before {
  content: "\e911";
}
.icon-monitoring-services-deployment:before {
  content: "\e912";
}
.icon-oozie-deployment:before {
  content: "\e913";
}
.icon-platalytics-deployment:before {
  content: "\e914";
}
.icon-platalytics-web-services-deployment:before {
  content: "\e915";
}
.icon-spark-deployment:before {
  content: "\e916";
}
.icon-spark-master-deployment:before {
  content: "\e917";
}
.icon-spark-worker-deployment:before {
  content: "\e918";
}
.icon-yarn-deployment:before {
  content: "\e919";
}
.icon-yarn-master-deployment:before {
  content: "\e91a";
}
.icon-yarn-worker-deployment:before {
  content: "\e91b";
}
.icon-zookeeper-deployment:before {
  content: "\e91c";
}
.icon-gis-explode:before {
  content: "\e91d";
}
.icon-aerospike-source:before {
  content: "\e91e";
}
.icon-aerospike-sink:before {
  content: "\e91f";
}
.icon-building:before {
  content: "\e902";
}
.icon-microsoft-azure:before {
  content: "\e988";
}
.icon-car:before {
  content: "\e989";
}
.icon-map-marker:before {
  content: "\e806";
}
.icon-hive-source:before {
  content: "\e805";
}
.icon-custom-copy:before {
  content: "\e804";
}
.icon-chef-deployment:before {
  content: "\e801";
}
.icon-docker-deployment:before {
  content: "\e802";
}
.icon-redshift-deployment:before {
  content: "\e803";
}
.icon-radius-pin:before {
  content: "\e66e";
}
.icon-api-source:before {
  content: "\e66d";
}
.icon-sensor-source:before {
  content: "\e667";
}
.icon-text2vec:before {
  content: "\e665";
}
.icon-filling:before {
  content: "\e666";
}
.icon-sensor-sink:before {
  content: "\e664";
}
.icon-stats:before {
  content: "\e662";
}
.icon-evaluation:before {
  content: "\e663";
}
.icon-clean:before {
  content: "\e661";
}
.icon-flume-source:before {
  content: "\e65e";
}
.icon-sql-server-source:before {
  content: "\e65f";
}
.icon-sql-server-sink:before {
  content: "\e660";
}
.icon-custom-refresh-circle:before {
  content: "\e65d";
}
.icon-custom-up:before {
  content: "\e65b";
}
.icon-custom-down:before {
  content: "\e65c";
}
.icon-custom-back-button:before {
  content: "\e65a";
}
.icon-hive-sink:before {
  content: "\e653";
}
.icon-custom-search:before {
  content: "\e652";
}
.icon-custom-refresh:before {
  content: "\e659";
}
.icon-custom-folder:before {
  content: "\e654";
}
.icon-custom-file:before {
  content: "\e655";
}
.icon-custom-delete:before {
  content: "\e656";
}
.icon-custom-close-1:before {
  content: "\e657";
}
.icon-sql-sink:before {
  content: "\e651";
}
.icon-timezone:before {
  content: "\e64f";
}
.icon-redshift-source:before {
  content: "\e640";
}
.icon-redshift-sink:before {
  content: "\e64d";
}
.icon-gis-map-sink:before {
  content: "\e650";
}
.icon-pipeline2:before {
  content: "\e64b";
}
.icon-sink:before {
  content: "\e64c";
}
.icon-click-select:before {
  content: "\e648";
}
.icon-custom-cogwheel:before {
  content: "\e649";
}
.icon-file-write:before {
  content: "\e64a";
}
.icon-shutdown:before {
  content: "\e645";
}
.icon-start:before {
  content: "\e646";
}
.icon-custom-close-deployment:before {
  content: "\e644";
}
.icon-status:before {
  content: "\e647";
}
.icon-amazonS3-deployment:before {
  content: "\e62c";
}
.icon-custom-eye:before {
  content: "\e62d";
}
.icon-digital-ocean:before {
  content: "\e62e";
}
.icon-google-cloud-platform:before {
  content: "\e62f";
}
.icon-on-premises:before {
  content: "\e643";
}
.icon-hana-source:before {
  content: "\e641";
}
.icon-hana-sink:before {
  content: "\e64e";
}
.icon-predictor:before {
  content: "\e800";
}
.icon-sparkling-water:before {
  content: "\e658";
}
.icon-cluster:before {
  content: "\e642";
}
.icon-custom-share:before {
  content: "\e63f";
}
.icon-application:before {
  content: "\e60a";
}
.icon-applications:before {
  content: "\e636";
}
.icon-pipeline:before {
  content: "\e63e";
}
.icon-smart-sink:before {
  content: "\e63d";
}
.icon-model:before {
  content: "\e635";
}
.icon-classifier:before {
  content: "\e628";
}
.icon-decision-tree:before {
  content: "\e629";
}
.icon-recommender:before {
  content: "\e62a";
}
.icon-regression:before {
  content: "\e62b";
}
.icon-buddy:before {
  content: "\e637";
}
.icon-custom-close:before {
  content: "\e638";
}
.icon-custom-dashboard:before {
  content: "\e639";
}
.icon-custom-edit:before {
  content: "\e63a";
}
.icon-custom-logout:before {
  content: "\e63b";
}
.icon-custom-plus:before {
  content: "\e63c";
}
.icon-gis-buffer:before {
  content: "\e630";
}
.icon-gis-filter:before {
  content: "\e631";
}
.icon-gis-join:before {
  content: "\e632";
}
.icon-cassandra-source:before {
  content: "\e633";
}
.icon-cassandra-sink:before {
  content: "\e634";
}
.icon-amazonS3-sink:before {
  content: "\e600";
}
.icon-hbase-sink:before {
  content: "\e601";
}
.icon-hdfs-sink:before {
  content: "\e603";
}
.icon-kafka-sink:before {
  content: "\e606";
}
.icon-kinesis-sink:before {
  content: "\e607";
}
.icon-parquet-sink:before {
  content: "\e608";
}
.icon-staging-sink:before {
  content: "\e60b";
}
.icon-amazonS3-source:before {
  content: "\e60c";
}
.icon-dummy-data-source:before {
  content: "\e60d";
}
.icon-facebook-source:before {
  content: "\e60e";
}
.icon-file-source:before {
  content: "\e60f";
}
.icon-ftp-source:before {
  content: "\e610";
}
.icon-gis-map-source:before {
  content: "\e611";
}
.icon-hbase-source:before {
  content: "\e612";
}
.icon-hdfs-source:before {
  content: "\e613";
}
.icon-kafka-source:before {
  content: "\e614";
}
.icon-kinesis-source:before {
  content: "\e615";
}
.icon-mongo-db-source:before {
  content: "\e616";
}
.icon-sql-source:before {
  content: "\e617";
}
.icon-staging-source:before {
  content: "\e618";
}
.icon-twitter-source:before {
  content: "\e619";
}
.icon-url-source:before {
  content: "\e61a";
}
.icon-aggregation:before {
  content: "\e61b";
}
.icon-bottom:before {
  content: "\e61c";
}
.icon-compression:before {
  content: "\e61d";
}
.icon-encryption:before {
  content: "\e61e";
}
.icon-filter:before {
  content: "\e61f";
}
.icon-findreplace:before {
  content: "\e620";
}
.icon-formula:before {
  content: "\e621";
}
.icon-join:before {
  content: "\e622";
}
.icon-merge:before {
  content: "\e623";
}
.icon-split:before {
  content: "\e624";
}
.icon-tag:before {
  content: "\e625";
}
.icon-top:before {
  content: "\e626";
}
.icon-union:before {
  content: "\e627";
}
.icon-cpu:before {
  content: "\e605";
}
.icon-ram:before {
  content: "\e604";
}
.icon-alarm:before {
  content: "\e609";
}
.icon-share:before {
  content: "\e602";
}
