<div class="canvas-right-col width-md">
  <h3>Aggregation Transformation</h3>

  <form #aggregationForm="ngForm" (submit)="saveAggregation(aggregationForm)" fxLayout="column">

    <mat-form-field>
      <input matInput type="text" name="name" placeholder="Name" #url="ngModel" [(ngModel)]='stage.name' required>
    </mat-form-field>

    <div class="select-block" fxLayout fxLayoutAlign="space-between center">
      <h4>Aggregate on</h4>

      <mat-icon color="primary" (click)="addAggregateField()" matTooltip="Add fields">
        add_circle_outline
      </mat-icon>
    </div>


    <div *ngFor="let item of stage.stage_attributes.aggregate_on ; let idx= index">

      <div class="fields-block" fxLayout="column">
        <div fxLayoutAlign="space-between center">

          <mat-form-field fxFlex="42">
            <mat-label>Select Filed</mat-label>
            <mat-select name="field{{idx}}" [(ngModel)]='item.input_field' (selectionChange)='setAlias1(item)' required>
              <mat-option *ngFor='let sSchema of stageSchema' [value]='sSchema.field'>
                {{ sSchema.field }} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="42">
            <mat-label>Select Method</mat-label>
            <mat-select name="method{{idx}}" [(ngModel)]='item.method' (selectionChange)='setAlias2(item)' required>

              <mat-optgroup label="Method">
                <ng-container *ngFor='let m of method'>
                  <mat-option *ngIf='m.type === "Method"' [value]='m.function'>
                    {{ m.function }} </mat-option>
                </ng-container>
              </mat-optgroup>

              <mat-optgroup label="Count">
                <ng-container *ngFor='let m of method'>
                  <mat-option *ngIf='m.type === "Count"' [value]='m.function'>
                    {{ m.function }} </mat-option>
                </ng-container>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>

          <div fxFlex="6" *ngIf="idx == 0"></div>
          <mat-icon class="remove-icon" fxFlex="6" color="warn" *ngIf="idx > 0" (click)="removeAggregateField(idx)"
            matTooltip="Remove fields">
            highlight_off
          </mat-icon>
        </div>

        <div fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="42" *ngIf="item.value_to_count=='custom'">
            <input matInput type="text" name="custom_value{{idx}}" [(ngModel)]='item.count_custom_value'
              placeholder="Value.." #Value="ngModel" required>
          </mat-form-field>

          <mat-form-field fxFlex="42">
            <input matInput type="text" name="aggregate_field{{idx}}" [(ngModel)]='item.aggregate_field'
              placeholder="Output field alias" #Value="ngModel" required>
          </mat-form-field>

          <div fxFlex="6"></div>
        </div>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Group By</mat-label>
      <mat-select name="group_by" [(ngModel)]='stage.stage_attributes.group_by' required multiple>
        <mat-option *ngFor='let sSchema of stageSchema' [value]='sSchema.field'>
          {{ sSchema.field }} </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="canvas-right-col-actions" fxLayout fxLayoutAlign="end center">
      <button mat-stroked-button color="accent" type="submit">Save</button>
    </div>

  </form>
</div>