<ng-container *ngIf="data.type == 'add'">
  <h3 mat-dialog-title class="text-center">Add New Item</h3>

  <form (submit)='createApplication(addForm)' #addForm='ngForm'>
    <div mat-dialog-content>
      <!-- <div *ngIf='view === 0'> -->
      <div class="selected-item">
        <div fxLayout fxLayoutAlign="space-around center">
          <img [ngClass]="{'active' : option ==='pipeline'}" (click)='addApp("pipeline")' src="assets/img/application.svg">
          <img [ngClass]="{'active' : option ==='folder'}" (click)='addApp("folder")' src="assets/img/folder.svg">
          <img [ngClass]="{'active' : option ==='file'}" (click)='addApp("file")' src="assets/img/file.svg">
        </div>
      </div>

      <div class="selected-item-option">
        <input type='hidden' name='option' [(ngModel)]='option'>
        <input type='hidden' name='parentId' [(ngModel)]='parentId'>

        <mat-form-field *ngIf=' option ==="pipeline" || option ==="folder" '>
          <input matInput type="text" [(ngModel)]='appName' name='appName' placeholder="{{option | titlecase}} Name" required>
        </mat-form-field>

        <div *ngIf=' option ==="file" '>
          <!-- <input type="file" (change)="onFileSelect($event)" name='file' />
          <label *ngIf='filePath'><b>{{appFile}}</b> is uploaded</label> -->


          <button class="upload-File" mat-raised-button>
            <label class="custom-upload-button" for="uploadFile">
              <input type="file" id="uploadFile" (change)="onFileSelect($event)" accept="*">
              Upload File
            </label>
          </button>



          <input type='hidden' name='appFile' [(ngModel)]='appFile'>
          <input type='hidden' name='filePath' [(ngModel)]='filePath'>
        </div>
      </div>

    </div>

    <div mat-dialog-actions fxLayout fxLayoutAlign="center center">
      <!-- <button mat-raised-button *ngIf='view === 1' type="submit"  color="primary">Save</button> -->
      <button mat-raised-button color="primary" type="submit">Done</button>
      <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
    </div>

  </form>

  <!-- </div> -->

  <!-- <div *ngIf='view === 1'>
          <button type="button" mat-raised-button color="accent" (click)='backview()' >Back</button>
          <form (submit)='createApplication(addForm)' #addForm='ngForm' >
              <input type='hidden' name='option' [(ngModel)]='option' >
              <input type='hidden' name='parentId' [(ngModel)]='parentId' >

              <mat-form-field *ngIf=' option !=="file" '>
                <input matInput type="text"  [(ngModel)]='appName' name='appName' placeholder="Name" required>
              </mat-form-field>

              <div *ngIf=' option ==="file" '>
                <input type="file" (change)="onFileSelect($event)" name='file' />
                <br/>
                <label *ngIf='filePath'><b>{{appFile}}</b> is uploaded</label>
                <input type='hidden' name='appFile' [(ngModel)]='appFile'>
                <input type='hidden' name='filePath' [(ngModel)]='filePath'>
              </div>

              <button mat-raised-button *ngIf='view === 1' type="submit"  color="primary">Save</button>
          </form>
      </div> -->



</ng-container>

<ng-container *ngIf="data.type == 'edit'">
  <h3 mat-dialog-title class="text-center">Edit Project</h3>
  <h2 style="color:red"></h2>
  <div mat-dialog-content>
    <div fxLayout fxLayoutAlign="start center">
      <form #appForm='ngForm'>
        <input type="hidden" name="appid" [(ngModel)]='appid' />
        <mat-form-field>
          <input matInput type="text" [(ngModel)]='appName' name='appName' placeholder="Name" required>
        </mat-form-field>

      </form>
    </div>
  </div>

  <div mat-dialog-actions fxLayout fxLayoutAlign="end center">
    <button mat-raised-button (click)="EditApplication(appForm)" color="primary">Save</button>
    <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
  </div>
</ng-container>

<ng-container *ngIf="data.type == 'delete'">
  <h3 mat-dialog-title class="text-center">Delete From Applications</h3>
  <h2 style="color:red"></h2>
  <div mat-dialog-content>
    <div fxLayout fxLayoutAlign="start center">
      <form #appForm='ngForm'>
        <input type='hidden' name='option' [(ngModel)]='option'>
        <input type="hidden" name="appid" [(ngModel)]='appid' />
      </form>
      <p>Do you really want to delete it?</p>
    </div>
  </div>

  <div mat-dialog-actions fxLayout fxLayoutAlign="end center">
    <button mat-raised-button (click)="DeleteApplication(appForm)" color="primary">Delete</button>
    <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
  </div>
</ng-container>
